{{ define "main" }}

  <h1>Posts</h1>

  {{ $pages := where site.RegularPages "Type" "posts" }}
  {{ $sortedPages := $pages.ByTitle.Reverse }}
  {{ $paginator := .Paginate $sortedPages 30 }}

  <main class="Posts">
  {{ range $paginator.Pages }}
    <article class="PostWrapper">

      <div class="postHeader">
        <span class="index">#{{ .Params.idx }}</span>
        <a class="postURL" href='{{ .RelPermalink }}'>
          <ion-icon name="open-outline"></ion-icon>
        </a>
         </div> 

      {{ .Content }}

    </article>
  {{ end }}
</main>

  {{ template "_internal/pagination.html" . }}


{{ end }}
