{{ define "pagination" }}
  <div class="pagination">
    <span class="pageInfo">
      Page {{ .PageNumber }} of {{ .TotalPages }}
    </span>
    <ul class="pagination-links">
      {{ if .HasPrev }}
        <li class="prev">
          <a href="{{ .Prev.URL }}">&laquo; Previous</a>
        </li>
      {{ else }}
        <li class="prev disabled">
          <span>&laquo; Previous</span>
        </li>
      {{ end }}

      {{ range .Pages }}
        <li class="{{ if eq .PageNumber $.PageNumber }}active{{ end }}">
          <a href="{{ .URL }}">{{ .PageNumber }}</a>
        </li>
      {{ end }}

      {{ if .HasNext }}
        <li class="next">
          <a href="{{ .Next.URL }}">Next &raquo;</a>
        </li>
      {{ else }}
        <li class="next disabled">
          <span>Next &raquo;</span>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
